h1{
	color: yellow;
	text-align: center;
	font-size: 400%;
}
body{
	background-color: #2C2119;
}
nav{
	text-align: center;
	background-color: #403131;
	height: 50px;
}
.clear{
	clear: both;
}
.ancien-article{
	border-style: solid;
	border-color: black;
	text-align: center;
	width: 20%;
	margin-left: 70%;
	height: 30px;
}
.ancien-article:hover{
	background-color: black;
}
nav a{
	color: yellow;
	font-size: 22px;
	text-decoration: none;
	color: white;
}
div a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

nav li{
	list-style-type: none;
	display: inline-block;
	margin-top: 2%;
	margin-left: 2%;
}
article{
	background-color: #4E3628;
	padding: 10px 10px 10px 10px;
}
#lagauche{
	width: 100%;
	margin-top: 1%;
}

#ladroite{
	width: 30%;
	margin-top: 2%;
	background-color: #4E3628;
	padding: 10px 10px 10px 10px;
}
label{
	font-size: 18px;
	color: white;
}
aside h2{
	font-size: 15px;
	color: white;
}
#pic1{width: 100%;}
#pic2{width: 100%;}
#pic3{width: 100%;}

footer{
	width: 100%;
	background-color: #9C8070;
}

p a{
	color: white;
}